
@{
    ViewBag.Title = "AgregarCarrito";
}

<h2>AgregarCarrito</h2>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @{double total = 0; }
        @if (Session["Carrito"] != null)
        {
            foreach (var item in Session["Carrito"] as List<PFINAL_PROGRA.Models.cCarrito>)
            {
                total += (double)(item._cantidad * item._producto.precio);
                <tr>
                    <td>@item._producto.IdProducto</td>
                    <td>@item._producto.nombreProducto</td>
                    <td>@String.Format("{0:C}", item._producto.precio)</td>
                    <td>@item._cantidad</td>
                    <td>@String.Format("{0:C}", item._cantidad * item._producto.precio)</td>

                    <td>@Html.ActionLink("Eliminar", "Delete", "Carrito", new { Id = item._producto.IdProducto }, null)</td>

                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="4">Total</th>
            <th>@String.Format("{0:C}", total) </th>
        </tr>
    </tfoot>
</table>

@Html.ActionLink("Agregar mas productos", "About", "Home", null, null)|
@Html.ActionLink("Proceder a pagar", "FinalizaCompra", "Carrito", null, null);

