
@using PFINAL_PROGRA.Models;




@model Producto

<a href="">
    <img src="~/Assets/img/Details.png" class="img-fluid" alt="..."
         style="height: 300px; width: 600px; justify-content:center; position:relative">
</a>

<hr />

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>



    </dl>
</div>
