
@*@using PFINAL_PROGRA.Models;

<h2>ProductImages</h2>
<hr />

@model Producto

<h2>Product Images</h2>
<p>Product Name: @Model.nombreProducto</p>
<hr />

<table class="table">
    <tr>
        <th>Image</th>
        <th>Thumbnail</th>
        <th>Actions</th>
    </tr>
    @foreach (var imagen in Model.)
    {
        <tr>
            <td>@imagen.IdImagen</td>
            <td>
                <img src="data:image/png;base64,@Convert.ToBase64String(imagen.imagen1)" />
            </td>
            <td>
                @Html.ActionLink("Details", "DetallesImagen", new { id = imagen.IdImagen })
                @Html.ActionLink("Edit", "EditarImagen", new { id = imagen.IdImagen })
                @Html.ActionLink("Delete", "EliminarImagen", new { id = imagen.IdImagen })
            </td>
        </tr>
    }
</table>*

@*<p>
    @Html.ActionLink("Add Image", "AddImage", new { id = Model.IdProducto })
</p>*@
