@using PFINAL_PROGRA.Models;

@model LoginViewModel

@{
    ViewBag.Title = "Iniciar sesión";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Cambia esto a la ubicación correcta de tu diseño
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">@ViewBag.Title</h2>
            <hr />

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group row">
                    @Html.LabelFor(m => m.correo, new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.correo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.correo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(m => m.contrasena, new { @class = "col-md-2 col-form-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.contrasena, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.contrasena, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <input type="submit" value="Iniciar sesión" class="btn btn-outline-dark" />
                    </div>
                </div>

                <p class="text-center">
                    @Html.ActionLink("Registrarse como usuario nuevo", "Register")
                </p>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
}